# this is not offline, helm need this
yum install -y socat

docker load -i istio-images.tar
docker load -i other-images.tar

# install helm
tar zxvf helm-{{ helm_version }}-linux-amd64.tar.gz
cp linux-amd64/helm /usr/bin 

# install helm tiller
kubectl create -f  helmserviceaccount.yaml || true
helm init  --service-account tiller --skip-refresh #  如果已安装更新加 --upgrade 参数
sleep 30 # wait for tilter
helm list

# install istio
tar zxvf istio-{{ istio_version }}-linux.tar.gz
cd istio-{{ istio_version }}
export PATH=$PWD/bin:$PATH
cp $PWD/bin/* /usr/bin
helm del --purge istio || true
kubectl delete -f install/kubernetes/helm/istio/templates/crds.yaml -n istio-system || true
helm install install/kubernetes/helm/istio  --name istio --namespace istio-system --set gateways.istio-ingressgateway.type=NodePort --set gateways.istio-egressgateway.type=NodePort

# install bookinfo
istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml | kubectl apply -f /dev/stdin
kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml
kubectl apply -f samples/bookinfo/networking/destination-rule-all.yaml

echo "==================================================================="
echo "      安装常见问题见此链接评论区：https://sealyun.com/pro/istio/"
echo "      交流QQ群：98488045"
echo "      官网：www.sealyun.com"
echo "==================================================================="
